@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,900i');

header {
    display: flex;
    align-items: center;
}
@media (min-width: 600px) {
    .leading {
        display: flex;
        align-items: center;
    }
}

/* Grid styles */
.cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 30px;
  }

/* generic styles */
body {
  font-family: 'Quicksand', sans-serif;
}

/*header class not used*/
/*header {
  padding: 8px;
  font-size: 0.5em;
  color: white;
  background-color: #333;
}*/

/* .logo used for github icons*/
.logo {
  height: 50px;
  margin-right: 20px;
}

.leading {
  height: 200px;
  margin-bottom: 30px;
  padding: 30px;
  color: black;
  background-size: cover;
  font-family: "Playfair Display"
}

.leading-bigtext {
  margin-right: 40px;
  font-weight: bold;
  font-size: 10vw;
}

@media (min-width: 700px) {
  .leading-bigtext {
    font-size: 60px;
  }
}

.leading-text {
  max-width: 900px;
  font-size: 1.2em;
  line-height: 1.4em;
}

.cards {
  max-width: 900px;
  margin: 0 auto 30px;
}

/* ==================== Article CSS ==================== */
article {
  cursor: pointer; /* chance cursor to a hand to prompt click-thru */
  position: relative;
  transition: 0.3s;
  font-family: "Playfair Display", serif;
  border-style: solid;
  border-width: 1px;
  border-color: lightgrey;
}

article:hover {
    box-shadow: 7px 7px 4px #aaaaaa;
    opacity: 0.7;
}

.article-img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.article-title {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 12px;
  background-color: rgba(255, 255, 255, 0.8);
}

/* ==================== Modal css ==================== */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 80px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  /*margin-bottom: 600px;*/
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  overflow-y: auto;
  max-height: calc(100vh - 210px);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
  scroll-behavior: smooth;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* ==================== Hover Tooltip Declarations ==================== */
.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 150%;
  left: 50%;
  margin-left: -60px;
  font-size: 12px;
  /* Fade in animation */
  opacity: 0;
  transition: opacity 0.2s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

